body {
    margin: 0px;
}
.gasparbutton:hover {
    background-color: rgb(192, 152, 83);
    color: whitesmoke;
    cursor: 'pointer';
}
.gasparbutton:active {
    background-color: rgba(192, 152, 83, 0.9);
    cursor: 'pointer';
}
